#artitalk_main #lazy {
    background: #ffffff3d;
    height: -webkit-fill-available;
    position: fixed;
}
#artitalk_main .cbp_tmtimeline>li img{
    max-height: 300px;
    max-width: 100%;
}
#artitalk_main .cbp_tmtimeline>li iframe{
    max-width: 100%;
}
html {
    /* max-width: 100%; */
    /* height: -webkit-fill-available; */
    background: linear-gradient(to right, #ec6ead61, #3494e661);
}
.profile-card{
    /* background: linear-gradient(to right, #ec6ead61, #3494e661); */
    /* padding: 8% 2% 0 2%; */
    background: rgba(255, 255, 255, 0.50);
    min-height: -webkit-fill-available;
    padding: 2%;
    margin: 4% 2%;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%), 0px 3px 6px rgb(0 0 0 / 23%);
}
/* * { max-width: 100%;} */
#artitalk_main .artitalk_loading_text {
    font-family: Helvetica, " Helvetica Neue ", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 0px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 11px;
    color: #a0a0a0;
    width: 200px;
}
#artitalk_main #shuoshuo_content {
    padding: 10px;
    min-height: 520px;
}
/*
   Responsive Video Embed
   ========================================================================== */

   .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
  }
  
  .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }